<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Food</key>
	<array>
		<dict>
			<key>evening</key>
			<array>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#F7DC7B</string>
					<key>rate</key>
					<integer>4</integer>
					<key>icontype</key>
					<integer>13</integer>
					<key>name</key>
					<string>面包</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#FF0000</string>
					<key>rate</key>
					<integer>4</integer>
					<key>icontype</key>
					<integer>21</integer>
					<key>name</key>
					<string>零食</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#B2B700</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>11</integer>
					<key>name</key>
					<string>沙拉</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#C8BE93</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>16</integer>
					<key>name</key>
					<string>泡面</string>
				</dict>
				<dict>
					<key>isHot</key>
					<true/>
					<key>location</key>
					<integer>2</integer>
					<key>backgroundColor</key>
					<string>#B91D1F</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>15</integer>
					<key>name</key>
					<string>冒菜</string>
				</dict>
				<dict>
					<key>isHot</key>
					<true/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#027BA4</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>15</integer>
					<key>name</key>
					<string>火锅</string>
				</dict>
				<dict>
					<key>isHot</key>
					<true/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#EB7E17</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>22</integer>
					<key>name</key>
					<string>烧烤</string>
				</dict>
				<dict>
					<key>isHot</key>
					<true/>
					<key>location</key>
					<integer>2</integer>
					<key>backgroundColor</key>
					<string>#D8D9DE</string>
					<key>rate</key>
					<integer>1</integer>
					<key>icontype</key>
					<integer>19</integer>
					<key>name</key>
					<string>小龙虾</string>
				</dict>
			</array>
			<key>afternoonTea</key>
			<array>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#5F532E</string>
					<key>rate</key>
					<integer>4</integer>
					<key>icontype</key>
					<integer>1</integer>
					<key>name</key>
					<string>咖啡</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#FFCF00</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>26</integer>
					<key>name</key>
					<string>坚果</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#9E9C46</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>11</integer>
					<key>name</key>
					<string>沙拉</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#146457</string>
					<key>rate</key>
					<integer>4</integer>
					<key>icontype</key>
					<integer>10</integer>
					<key>name</key>
					<string>水果</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#0074CA</string>
					<key>rate</key>
					<integer>4</integer>
					<key>icontype</key>
					<integer>12</integer>
					<key>name</key>
					<string>饼干</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#FE4E36</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>2</integer>
					<key>name</key>
					<string>布丁</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#A77C4F</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>1</integer>
					<key>name</key>
					<string>奶茶</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#A7B637</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>8</integer>
					<key>name</key>
					<string>蛋糕</string>
				</dict>
			</array>
			<key>lunchsupper</key>
			<array>
				<dict>
					<key>isHot</key>
					<true/>
					<key>location</key>
					<integer>2</integer>
					<key>backgroundColor</key>
					<string>#F43026</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>15</integer>
					<key>name</key>
					<string>川菜</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>2</integer>
					<key>backgroundColor</key>
					<string>#B49AA2</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>18</integer>
					<key>name</key>
					<string>东北菜</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>1</integer>
					<key>backgroundColor</key>
					<string>#9F8060</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>5</integer>
					<key>name</key>
					<string>海鲜</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#165C89</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>19</integer>
					<key>name</key>
					<string>韩国料理</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>2</integer>
					<key>backgroundColor</key>
					<string>#D21F20</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>16</integer>
					<key>name</key>
					<string>酸辣粉</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#F65954</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>22</integer>
					<key>name</key>
					<string>烤肉</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>2</integer>
					<key>backgroundColor</key>
					<string>#A45325</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>16</integer>
					<key>name</key>
					<string>牛肉面</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#FF8000</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>18</integer>
					<key>name</key>
					<string>炒饭</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#2F9A87</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>24</integer>
					<key>name</key>
					<string>沙县小吃</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#D84B37</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>16</integer>
					<key>name</key>
					<string>泡面</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#A73129</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>16</integer>
					<key>name</key>
					<string>米线</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>2</integer>
					<key>backgroundColor</key>
					<string>#EECDC6</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>6</integer>
					<key>name</key>
					<string>水饺</string>
				</dict>
				<dict>
					<key>isHot</key>
					<true/>
					<key>location</key>
					<integer>2</integer>
					<key>backgroundColor</key>
					<string>#89695D</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>15</integer>
					<key>name</key>
					<string>火锅</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#009FBC</string>
					<key>rate</key>
					<integer>4</integer>
					<key>icontype</key>
					<integer>23</integer>
					<key>name</key>
					<string>套餐</string>
				</dict>
				<dict>
					<key>isHot</key>
					<true/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#E8775B</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>15</integer>
					<key>name</key>
					<string>麻辣烫</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#6D3993</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>17</integer>
					<key>name</key>
					<string>必胜客</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#FADF00</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>17</integer>
					<key>name</key>
					<string>麦当劳</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#063444</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>17</integer>
					<key>name</key>
					<string>肯德基</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#803031</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>19</integer>
					<key>name</key>
					<string>牛排</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#D7EDFA</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>18</integer>
					<key>name</key>
					<string>卤肉饭</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>2</integer>
					<key>backgroundColor</key>
					<string>#C4CB9C</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>16</integer>
					<key>name</key>
					<string>拉面</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#F76C4E</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>20</integer>
					<key>name</key>
					<string>寿司</string>
				</dict>
			</array>
			<key>breakfast</key>
			<array>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#FEE997</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>27</integer>
					<key>name</key>
					<string>豆腐脑</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#DF3E00</string>
					<key>rate</key>
					<integer>4</integer>
					<key>icontype</key>
					<integer>7</integer>
					<key>name</key>
					<string>牛奶</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#FDDFAB</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>14</integer>
					<key>name</key>
					<string>鸡蛋</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#F5EAC0</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>4</integer>
					<key>name</key>
					<string>包子</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#1E1E1D</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>9</integer>
					<key>name</key>
					<string>油条</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#A9581F</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>16</integer>
					<key>name</key>
					<string>牛肉面</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#270505</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>17</integer>
					<key>name</key>
					<string>西餐早点</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#F23C30</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>7</integer>
					<key>name</key>
					<string>豆浆</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#FF9D1C</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>25</integer>
					<key>name</key>
					<string>煎饼</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#EAE4D3</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>18</integer>
					<key>name</key>
					<string>粥</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#FCA300</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>7</integer>
					<key>name</key>
					<string>麦片</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#FFE0B6</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>4</integer>
					<key>name</key>
					<string>馒头</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#ACDDE1</string>
					<key>rate</key>
					<integer>3</integer>
					<key>icontype</key>
					<integer>13</integer>
					<key>name</key>
					<string>面包</string>
				</dict>
				<dict>
					<key>isHot</key>
					<false/>
					<key>location</key>
					<integer>0</integer>
					<key>backgroundColor</key>
					<string>#7F4E6C</string>
					<key>rate</key>
					<integer>2</integer>
					<key>icontype</key>
					<integer>4</integer>
					<key>name</key>
					<string>汤包</string>
				</dict>
			</array>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
